
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 117, 175, 0.637),rgba(4, 131, 148, 0.219) );
    border:rgba(89, 85, 85, 0.637);
    z-index: 1;

}

.content {
    position: relative;
    z-index: 2;


}

h1{
    font-size: 48px;
    font-style: italic;
    font-family: Georgia;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

nav {
    text-align: right;
    font-size: 18px;
    font-family:Verdana ;

}

a:link {

    text-decoration: none;
    color: rgb(0, 38, 72);
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
color: rgb(0, 119, 134);

}   

a:active {
    color: rgb(11, 240, 221);
} 

nav ul li {
    flex: 1;
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
    clear: ;

}

nav input[type=text] {
  font-size: 17px;
}

.b1{
    margin-left:-8px;
    padding: 8px 10px;
background-color: rgba(14, 94, 134, 0.637);

}

p{
    font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
}

.overlay2{
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background-image:url(/historypage_images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top -150px;
    display: block;
    border:rgba(89, 85, 85, 0.637);
    z-index: 1;

}


.overlay3{
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    background-image: linear-gradient(rgb(51,74,119),rgb(126,141,183));
    border:rgba(89, 85, 85, 0.637);
    z-index: 1;
    margin-top: 10px;

}

.overlay3 img{
    box-shadow: 10px 5px 20px rgb(0, 0, 0);
}

.medival-text1{
    display: flex;
    text-align: center;
    align-items: center;
}

.text1{
    padding: 20px;
    margin: 30px;
}

.medival-text2{
    display:flex;
    text-align: center;
    align-items: center;
    padding: 30px;
}

.text2{
    padding:20px;
    margin: 30px;
}

.colonial-period{
    display: flex;
    text-align: center;
    align-items: center;
}

.text3{
    padding: 20px;
    margin: 30px;
}



.overlay4{
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    background-image: linear-gradient(rgb(208, 135, 98),rgb(229, 190, 162));
    border:rgba(89, 85, 85, 0.637);
    z-index: 1;

}

.overlay4{
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    background-image: linear-gradient(rgb(208, 135, 98),rgb(229, 190, 162));
    border:rgba(89, 85, 85, 0.637);
    z-index: 1;

}

.overlay5{
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    background-image: linear-gradient(rgb(137, 222, 137),rgb(170, 234, 151));
    border:rgba(89, 85, 85, 0.637);
    z-index: 1;

}


.historical_places{
    display: flex;
    flex-wrap: wrap;
}